```
node_modules/
dotnet/
bin/
graph.dot
conf.json
.listcache
.dependency-cruiser.js
/packages/main/settings.json

*.log
*.tmp

.env
.env.local
*.env.*

.vscode/
.idea/

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.gz
```