/bin
/BugTrap-x64.dll
/conf.json
/dotnet
/linux_x64.tar.gz
/maps
/plugins
/ragemp-server.exe
/packages/main/node_modules
/packages/main/package.json
/packages/main/package-lock.json
/client_packages/.listcache
/UI-Server/node_modules
/UI-Server/package-lock.json
/node_modules
/package-lock.json
/.dependency-cruiser.js
/packages/main/logs
/graph.dot